@use 'mixins';

.ns-loader {
    $self: &;
    @include mixins.ns-font-title();

    color: var(--ns-color-primary-300);
    display: block;

    &__inner {
        text-align: center;
    }

    &__spinner {
        display: inline-block;
    }

    &__text {
        margin-top: 0.5rem;
    }

    &-size--small {

        &:not(#{$self}-placement--inline) {
            @include mixins.ns-font-overline();
        }
    }

    &-size--medium {
    }

    &-placement--block {
        display: block;
        margin: 3rem auto;
        text-align: center;
    }

    &-placement--inline {
        display: inline-block;

        &#{$self}-size--small {
            @include mixins.ns-font-title();
            letter-spacing: unset;
            text-transform: unset;
        }

        #{$self}__inner {
            align-items: center;
            display: flex;
            gap: 0.5rem;
        }

        #{$self}__text {
            margin: 0;
        }
    }

    &-placement--floating {
        @extend #{$self}-placement--inline;
        @include mixins.ns-shadow-hover();
        background-color: var(--ns-color-neutral-0);
        border-radius: 32px;
        bottom: 1rem;
        left: 50%;
        padding: 0.5rem 1rem;
        position: absolute;
        transform: translateX(-50%);
        z-index: 1000;

        &#{$self}-size--medium {
            border-radius: 64px;
            padding: 1rem 1.5rem;

            #{$self}__inner {
                gap: 1rem;
            }

        }
    }

    &-placement--cover {
        align-items: center;
        background-color: var(--ns-color-neutral-0);
        display: flex;
        height: 100%;
        justify-content: center;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1000;
    }

    &-placement--coverNoBackdrop {
        @extend #{$self}-placement--cover;
        background-color: transparent;
    }

}
