@use '@angular/material' as mat;

html {
    color-scheme: light;

    @include mat.theme((
        color: mat.$green-palette,
        typography: var(--ns-font-family--body),
    ),
    $overrides: (
        surface: var(--ns-color-neutral-0),
        surface-container: var(--ns-color-neutral-0),
        surface-container-high: var(--ns-color-neutral-0),
        surface-container-highest: var(--ns-color-neutral-0),
        surface-container-low: var(--ns-color-neutral-0),
        surface-container-lowest: var(--ns-color-neutral-0),
        outline: var(--ns-color-neutral-40),
        outline-variant: var(--ns-color-neutral-40),
        background: var(--ns-color-neutral-0)
    ));
}


// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {

}
