@use './ns-mat-dialog-shared' as *;
@use './ns-mat-dialog-container.component' as *;
@use './ns-mat-dialog-header.component' as *;
@use './ns-mat-dialog-content.component' as *;
@use './ns-mat-dialog-sidebar.component' as *;
