.ns-bg-color-transparent {
    background-color: transparent !important;
}

.ns-bg-color-neutral-0 {
    background-color: var(--ns-color-neutral-0) !important;
}

.ns-bg-color-neutral-10 {
    background-color: var(--ns-color-neutral-10) !important;
}

.ns-bg-color-neutral-20 {
    background-color: var(--ns-color-neutral-20) !important;
}

.ns-bg-color-neutral-30 {
    background-color: var(--ns-color-neutral-30) !important;
}

.ns-bg-color-neutral-40 {
    background-color: var(--ns-color-neutral-40) !important;
}

.ns-bg-color-neutral-50 {
    background-color: var(--ns-color-neutral-50) !important;
}

.ns-bg-color-neutral-60 {
    background-color: var(--ns-color-neutral-60) !important;
}

.ns-bg-color-neutral-90 {
    background-color: var(--ns-color-neutral-90) !important;
}

.ns-bg-color-neutral-300 {
    background-color: var(--ns-color-neutral-300) !important;
}

.ns-bg-color-neutral-900 {
    background-color: var(--ns-color-neutral-900) !important;
}

.ns-bg-color-primary-50 {
    background-color: var(--ns-color-primary-50) !important;
}

.ns-bg-color-primary-100 {
    background-color: var(--ns-color-primary-100) !important;
}

.ns-bg-color-primary-300 {
    background-color: var(--ns-color-primary-300) !important;
}

.ns-bg-color-primary-400 {
    background-color: var(--ns-color-primary-400) !important;
}

.ns-bg-color-success-50 {
    background-color: var(--ns-color-success-50) !important;
}

.ns-bg-color-success-100 {
    background-color: var(--ns-color-success-100) !important;
}

.ns-bg-color-success-300 {
    background-color: var(--ns-color-success-300) !important;
}

.ns-bg-color-success-400 {
    background-color: var(--ns-color-success-400) !important;
}

.ns-bg-color-warning-50 {
    background-color: var(--ns-color-warning-50) !important;
}

.ns-bg-color-warning-100 {
    background-color: var(--ns-color-warning-100) !important;
}

.ns-bg-color-warning-300 {
    background-color: var(--ns-color-warning-300) !important;
}

.ns-bg-color-warning-400 {
    background-color: var(--ns-color-warning-400) !important;
}

.ns-bg-color-error-50 {
    background-color: var(--ns-color-error-50) !important;
}

.ns-bg-color-error-100 {
    background-color: var(--ns-color-error-100) !important;
}

.ns-bg-color-error-300 {
    background-color: var(--ns-color-error-300) !important;
}

.ns-bg-color-error-400 {
    background-color: var(--ns-color-error-400) !important;
}

.ns-bg-color-info-50 {
    background-color: var(--ns-color-info-50) !important;
}

.ns-bg-color-info-100 {
    background-color: var(--ns-color-info-100) !important;
}

.ns-bg-color-info-300 {
    background-color: var(--ns-color-info-300) !important;
}

.ns-bg-color-info-400 {
    background-color: var(--ns-color-info-400) !important;
}

.ns-bg-color-yellow-50 {
    background-color: var(--ns-color-yellow-50) !important;
}

.ns-bg-color-yellow-100 {
    background-color: var(--ns-color-yellow-100) !important;
}

.ns-bg-color-yellow-300 {
    background-color: var(--ns-color-yellow-300) !important;
}

.ns-bg-color-yellow-400 {
    background-color: var(--ns-color-yellow-400) !important;
}

.ns-bg-color-duke-blue-50 {
    background-color: var(--ns-color-duke-blue-50) !important;
}

.ns-bg-color-duke-blue-100 {
    background-color: var(--ns-color-duke-blue-100) !important;
}

.ns-bg-color-duke-blue-300 {
    background-color: var(--ns-color-duke-blue-300) !important;
}

.ns-bg-color-duke-blue-400 {
    background-color: var(--ns-color-duke-blue-400) !important;
}

.ns-bg-color-cyan-50 {
    background-color: var(--ns-color-cyan-50) !important;
}

.ns-bg-color-cyan-100 {
    background-color: var(--ns-color-cyan-100) !important;
}

.ns-bg-color-cyan-300 {
    background-color: var(--ns-color-cyan-300) !important;
}

.ns-bg-color-cyan-400 {
    background-color: var(--ns-color-cyan-400) !important;
}

.ns-bg-color-pink-50 {
    background-color: var(--ns-color-pink-50) !important;
}

.ns-bg-color-pink-100 {
    background-color: var(--ns-color-pink-100) !important;
}

.ns-bg-color-pink-300 {
    background-color: var(--ns-color-pink-300) !important;
}

.ns-bg-color-pink-400 {
    background-color: var(--ns-color-pink-400) !important;
}

.ns-bg-color-purple-50 {
    background-color: var(--ns-color-purple-50) !important;
}

.ns-bg-color-purple-100 {
    background-color: var(--ns-color-purple-100) !important;
}

.ns-bg-color-purple-300 {
    background-color: var(--ns-color-purple-300) !important;
}

.ns-bg-color-purple-400 {
    background-color: var(--ns-color-purple-400) !important;
}
