@use 'mixins';

.ns-border-style--solid {
    @include mixins.ns-border-style(all);
}

.ns-border-style-bottom--solid {
    @include mixins.ns-border-style(bottom);
}

.ns-border-style-top--solid {
    @include mixins.ns-border-style(top);
}

.ns-border-style-left--solid {
    @include mixins.ns-border-style(left);
}

.ns-border-style-right--solid {
    @include mixins.ns-border-style(right);
}

.ns-border-style-right--none {
    border-right-style: none;
}

.ns-border-style-left--none {
    border-left-style: none;
}

.ns-border-style--dashed {
    border-style: dashed !important;
}

.ns-border-right-style--dashed {
    border-right-style: dashed !important;
}

.ns-border-top-style--dashed {
    border-top-style: dashed !important;
}

.ns-border-radius--0 {
    border-radius: var(--ns-border-radius--none) !important;
}

.ns-border-radius--sm {
    border-radius: var(--ns-border-radius--sm) !important;
}

.ns-border-radius--md {
    border-radius: var(--ns-border-radius--md) !important;
}

.ns-border-radius--lg {
    border-radius: var(--ns-border-radius--lg) !important;
}

.ns-border-radius--xl {
    border-radius: var(--ns-border-radius--xl) !important;
}

.ns-border-radius--surface {
    border-radius: var(--ns-border-radius--surface) !important;
}

