@use 'mixins';

.ns-e2e-container {
    @include mixins.ns-e2e-container();

    &__body {
        @include mixins.ns-e2e-container-body();
    }

    &__body-with-scroll {
        @include mixins.ns-e2e-container-body-with-scroll();
    }

}
