article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

html,
body {
    margin: 0;
}

a,
a:not([href]):not([class]) {
    color: var(--ns-color-primary-300);
    text-decoration: underline;
}

a:hover,
a:focus,
a:active,
a:not([href]):not([class]):hover {
    color: var(--ns-color-primary-400);
    text-decoration: underline;
}

a.link-no-decoration {
    text-decoration: none;

    &:not([href]):not([class]):hover {
        text-decoration: none;
    }
}

a.link {
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

// rewrite bootstrap
img,
svg {
    vertical-align: unset !important;
}

a.action {
    border-bottom: 1px dashed;
    cursor: pointer;
    display: inline-block;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    box-shadow: 0 0 0 1000px var(--ns-color-neutral-0) inset;
    font-size: 16px;
}
