<div class="container py-5">
    <h1 class="ns-font-display-lg mb-5 text-center">
        Breadcrumbs
    </h1>
    <div class="row">
        <div class="col-xxl-6">
            <mat-card class="mt-3">
                <mat-card-content class="d-flex flex-column pt-3 gap-3">
                    <ns-breadcrumbs [breadcrumbs]="breadcrumbs"
                                    [size]="size">
                        <ng-template let-item="item"
                                     nsBreadcrumbsItemSuffix>
                            @if(item?.data?.['id'] === '123') {
                                <ns-icon [matTooltip]="'Some tooltip'" [name]="'ns-info'" size="small"/>
                            }
                        </ng-template>
                    </ns-breadcrumbs>
                </mat-card-content>
            </mat-card>

        </div>
        <div class="col-xxl-6 d-flex flex-column gap-3 mt-3 mt-xxl-0">
            <div class="ns-bg-color-neutral-10 ns-border-radius--lg p-2 mb-3">
                <div class="d-flex gap-5 flex-wrap p-2 overflow-auto">
                    <div>
                        <div class="ns-font-title ns-color-neutral-90 mb-2">Size</div>
                        <mat-button-toggle-group [(ngModel)]="size">
                            <mat-button-toggle [value]="'small'">Small</mat-button-toggle>
                            <mat-button-toggle [value]="'basic'">Basic</mat-button-toggle>
                            <mat-button-toggle [value]="'large'">Large</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xxl-6">
            <div class="mt-5">
                <markdown [data]="markdownBreadcrumbs"/>
            </div>
        </div>
        <div class="col-xxl-6">
            <div class="mt-5">
                <markdown [data]="markdownBreadcrumbsExample"/>
            </div>
        </div>
    </div>
</div>
