@use 'mixins';
@use 'ngx-suite-common.components.icon/mixins' as iconMixins;


.ns-alert {
    align-items: center;
    border-radius: var(--ns-border-radius);
    display: flex;
    gap: 1rem;
    overflow-wrap: anywhere;
    padding: 1rem;

    &--error {
        @include iconMixins.ns-icon-color(var(--ns-color-error-300));
        background-color: var(--ns-color-error-50);
    }

    &--warning {
        @include iconMixins.ns-icon-color(var(--ns-color-warning-300));
        background-color: var(--ns-color-warning-50);
    }

    &--success {
        @include iconMixins.ns-icon-color(var(--ns-color-success-300));
        background-color: var(--ns-color-success-50);
    }

    &--info {
        @include iconMixins.ns-icon-color(var(--ns-color-info-300));
        background-color: var(--ns-color-info-50);
    }

    &--neutral {
        @include iconMixins.ns-icon-color(var(--ns-color-neutral-300));
        background-color: var(--ns-color-neutral-20);
    }

    &__content {
        @include mixins.ns-font-body-lg();
        color: var(--ns-color-neutral-900);
        flex: 1;
        width: 0;
    }
}
