@use 'tailwindcss';
@use 'vars';
@use 'ngx-suite-common/material-design/themes/theme-ngx-suite-green';
@use 'ngx-suite-common/common' as common;
@use 'ngx-suite-common.components' as components;
@use 'ngx-suite-common.components.icon' as icon;
@use 'ngx-suite-common.components.alert' as alert;

