@use 'vars';
@use 'ngx-suite-common/material-design/themes/theme-ngx-suite-blue';
@use 'ngx-suite-common/material-design/components' as materialComponents;
@use 'ngx-suite-common/bootstrap' as bootstrap;
@use 'ngx-suite-common/common' as common;
@use 'ngx-suite-common.components' as components;
@use 'ngx-suite-common.components.icon' as icon;
@use 'ngx-suite-common.components.alert' as alert;
@use 'ngx-suite-common.components.button' as button;
@use 'ngx-suite-common.components.loader' as loader;
@use 'ngx-suite-common.components.illustration' as illustration;
@use './app';
