<mat-drawer-container class="kl-light__drawer-container vh-100"
                      [autosize]="true">

    <mat-drawer mode="side" opened class="px-3 ns-border-style-right--solid">
        <div class="d-flex align-items-center justify-content-center pt-3">
            <img class="app-sidebar-logo" src="angular-logo.png" alt="logo">
        </div>
        <h1 class="ns-font-title-lg text-center py-3">
            NGX Suite
        </h1>
        <mat-nav-list>

            @for (tab of tabs; track tab) {
                @if (!!tab.category) {
                    <div class="ns-font-overline ns-color-neutral-90 text-uppercase mb-2 ps-3 pt-3">
                        {{ tab.category }}
                    </div>
                }
                @else {
                    <a #link="routerLinkActive"
                       [class.mdc-list-item--activated]="link.isActive"
                       class="p-2 px-3 my-1"
                       mat-list-item
                       routerLinkActive
                       routerLink="{{tab.route}}"
                    >
                        {{ tab.label }}
                    </a>
                }
            }
        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content class="p-3 pt-0">
        <router-outlet />
    </mat-drawer-content>
</mat-drawer-container>

