@use 'mixins';
//
// SIZE
//

@mixin ns-icon-size($size: var(--ns-font-size-icon)) {
    ns-icon {
        @include mixins.ns-mat-icon-size($size);

        .mat-icon {
            @include mixins.ns-mat-icon-size($size);
        }
    }
}

@mixin ns-icon-self-size($size: var(--ns-font-size-icon)) {
    @include mixins.ns-mat-icon-size($size);

    .mat-icon {
        @include mixins.ns-mat-icon-size($size);
    }
}

@mixin ns-icon-self-size--small() {
    @include ns-icon-self-size(var(--ns-font-size-icon--small));
}

@mixin ns-icon-size--small() {
    @include ns-icon-size(var(--ns-font-size-icon--small));
}

@mixin any-icon-size($size: var(--ns-font-size-icon)) {
    @include ns-icon-size($size);

    mat-icon.mat-icon {
        @include mixins.ns-mat-icon-size($size);
    }
}

//
// COLOR
//

@mixin ns-icon-color($color) {
    ns-icon {
        color: $color;

        .mat-icon {
            color: $color;
        }
    }
}

@mixin ns-icon-self-color($color) {
    color: $color;

    .mat-icon {
        color: $color;
    }
}
