@use '@angular/material' as mat;
@use 'sass:color';

@use 'mixins';

:root {
    --ns-chips-icon-size: var(--ns-font-size-icon);
    --ns-chips-spacing: 8px;
    --ns-chips-trailing-action-offset: 0;

    @include mat.chips-overrides((
        container-shape-radius: 8px,
        outline-width: 0,
        elevated-container-color: var(--ns-color-neutral-20),
        elevated-disabled-container-color: var(--ns-color-neutral-40),
        label-text-color: var(--ns-color-neutral-900),
        label-text-weight: 400,
        label-text-size: 16px, // TODO Use vars from fonts
        disabled-label-text-color: var(--ns-color-neutral-60),
        with-icon-icon-color: var(--ns-color-neutral-900),
        with-trailing-icon-trailing-icon-color: var(--ns-color-neutral-900),
        container-height: 40px,
        with-avatar-avatar-size: 0,
        elevated-selected-container-color: var(--ns-color-primary-50),
        selected-label-text-color: var(--ns-color-primary-300),
        selected-trailing-icon-color: var(--ns-color-primary-300),
        selected-hover-state-layer-color: var(--ns-color-primary-300),
        selected-focus-state-layer-color: var(--ns-color-primary-300),
    ));
}

mat-chip-option.mat-mdc-chip.mat-mdc-chip-option {
    border-radius: 8px;
}

.mat-mdc-chip.mat-mdc-standard-chip {
    &.mat-accent {
        @include mat.chips-overrides((
            elevated-selected-container-color: var(--ns-color-warning-50),
            selected-label-text-color: var(--ns-color-warning-300),
            selected-trailing-icon-color: var(--ns-color-warning-300),
            selected-hover-state-layer-color: var(--ns-color-warning-300),
            selected-focus-state-layer-color: var(--ns-color-warning-300),
        ));
    }

    &.mat-warn {
        @include mat.chips-overrides((
            elevated-selected-container-color: var(--ns-color-error-50),
            selected-label-text-color: var(--ns-color-error-300),
            selected-trailing-icon-color: var(--ns-color-error-300),
            selected-hover-state-layer-color: var(--ns-color-error-300),
            selected-focus-state-layer-color: var(--ns-color-error-300),
        ));
    }
}

mat-chip-option.mat-mdc-standard-chip {
    &.mat-mdc-chip-selected {
        @include mat.chips-overrides((
            label-text-weight: 500,
        ));
    }

    .mat-mdc-chip-action-label {
        align-items: center;
        display: inline-flex;
        gap: var(--ns-chips-spacing);

        > mat-icon {
            @include mixins.ns-mat-icon-size(var(--ns-chips-icon-size));
        }
    }

    .mdc-evolution-chip__action--primary {
        padding-left: var(--ns-chips-spacing);
        padding-right: var(--ns-chips-spacing);
    }

    &.mdc-evolution-chip--with-primary-graphic {
        .mdc-evolution-chip__action--primary {
            padding-right: var(--ns-chips-spacing);
        }

        &.mdc-evolution-chip--with-trailing-action {
            .mdc-evolution-chip__graphic {
                padding-left: calc(var(--ns-chips-spacing) / 2);
                padding-right: calc(var(--ns-chips-spacing) / 2);
            }

            .mdc-evolution-chip__action--trailing {
                margin: 0 var(--ns-chips-trailing-action-offset);
            }
        }

        .mdc-evolution-chip__graphic {
            padding-left: calc(var(--ns-chips-spacing) / 2);
            padding-right: calc(var(--ns-chips-spacing) / 2);
        }
    }

    .mat-mdc-chip-trailing-icon {
        > mat-icon {
            @include mixins.ns-mat-icon-size(var(--ns-chips-icon-size--small));
        }
    }
}
