@import 'vars';
@import 'mixins';

.mat-drawer-container {
    --mat-sidenav-container-background-color: #{$color-neutral-0};
    --mat-sidenav-content-background-color: #{$color-neutral-0};
    --mat-sidenav-container-text-color: #{$color-text};
    --mat-sidenav-content-text-color: #{$color-text};
}
