

.cdk-overlay-backdrop {
    backdrop-filter: blur(2px);
    background-color: var(--ns-color-neutral-0--opacity-50) !important;
}

.cdk-overlay-transparent-backdrop {
    backdrop-filter: none !important;
    background-color: transparent !important;
}
