@use 'mixins';

mat-divider.mat-divider {
    --mat-menu-divider-color: var(--ns-color-neutral-40);
}

.mat-divider.mat-divider-vertical {
    --mat-menu-divider-color: var(--ns-color-neutral-40);
    display: inline-block;
    height: 24px;
    vertical-align: top;
}
