@use '@angular/material' as mat;


:root {
    @include mat.slider-overrides((
        inactive-track-height: 8px,
        active-track-height: 8px,
        active-track-shape: 4px,
        inactive-track-color: var(--ns-color-neutral-40),
    ));
}
