@use 'mixins';

$container-border-radius: var(--ns-border-radius--ms);
$border-color--normal: var(--ns-color-neutral-40);
$border-color--hover: var(--ns-color-neutral-60);
$border-color--focus: var(--ns-color-primary-300);
$border-color--error: var(--ns-color-error-300);

$border-color: var(--ns-color-neutral-40);
$label-color: var(--ns-color-neutral-60);
$label-color--focus: var(--ns-color-primary-300);
$label-color--disabled: var(--ns-color-neutral-60);
$label-color--error: var(--ns-color-error-300);

$checkbox-label-color: var(--ns-color-neutral-900);
$hint-color: var(--ns-color-neutral-60);

$value-color: var(--ns-color-neutral-900);
$value-color--disabled: var(--ns-color-neutral-60);
$value-color--error: var(--ns-color-error-300);

$assets-icons-path: 'assets/images/ngx-suite-common';

.mat-mdc-form-field {
    // chips
    --mdc-chip-elevated-container-color: var(--ns-color-neutral-30);
    --mdc-filled-text-field-error-hover-label-text-color: #{$label-color--error};
    --mdc-filled-text-field-hover-label-text-color: #{$label-color};

    // mat error from content projection
    mat-error > mat-error.mat-mdc-form-field-bottom-align {
        display: unset;

        &::before {
            display: none;
        }
    }


    .mat-mdc-chip.mat-mdc-standard-chip {
        --mdc-chip-container-height: 24px;
    }

    .mat-mdc-form-field-icon-prefix {
        padding: 0;
    }

    .mat-mdc-text-field-wrapper.mdc-text-field--filled {
        background: var(--ns-color-neutral-0);
        border: 1px solid $border-color--normal;
        border-radius: $container-border-radius;

        .mat-mdc-select-arrow {
            color: $label-color;
        }

        .mat-mdc-form-field-focus-overlay {
            opacity: 0;
        }

        // HOVER
        &:not(.mdc-text-field--disabled):not(.mdc-text-field--invalid):not(.mdc-text-field--focused):hover {
            border-color: $border-color--hover;

            .mat-mdc-form-field-focus-overlay {
                opacity: 0;
            }
        }

        .mdc-line-ripple {
            display: none;
        }

        &:not(.mdc-text-field--disabled) {
            .mdc-floating-label {
                color: $label-color;
            }

            .mdc-text-field__input {
                color: $value-color;

                &::placeholder {
                    color: var(--ns-color-neutral-60);
                }
            }

            .mdc-floating-label--required {
                color: var(--ns-color-error-300);
            }
        }

        // FOCUSED/ACTIVE
        &:not(.mdc-text-field--disabled).mdc-text-field--focused {
            border-color: $border-color--focus;

            .mat-mdc-form-field-focus-overlay {
                opacity: 0;
            }

            .mdc-floating-label {
                color: $label-color--focus;
            }
        }

        &.mdc-text-field--disabled {
            background: var(--ns-color-neutral-10);

            .mdc-floating-label {
                color: $label-color--disabled;
            }

            .mdc-text-field__input {
                color: $value-color--disabled;
            }
        }

        &.mdc-text-field--invalid {
            border-color: $border-color--error;

            .mdc-floating-label {
                color: $label-color--error;
            }
        }

    }

    .mat-mdc-form-field-hint {
        color: $hint-color;
    }

    .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
        color: $label-color;
    }

    .mat-mdc-checkbox label {
        color: $checkbox-label-color;
    }

    .mat-mdc-radio-button .mdc-form-field {
        color: $checkbox-label-color;
    }

    .mat-mdc-form-field-icon-prefix > ns-icon,
    .mat-mdc-form-field-icon-suffix > ns-icon {
        box-sizing: content-box;
        padding: 12px;
    }

    .mat-mdc-form-field-icon-suffix > mat-datepicker-toggle {
        box-sizing: content-box;
        padding: 12px 8px;
    }

    .mdc-evolution-chip-set {
        .mdc-evolution-chip-set__chips {
            gap: 4px;
        }

        .mdc-evolution-chip {

            @include mixins.ns-font-body();
            background-color: var(--ns-color-neutral-30);
            border-radius: 8px;
            color: var(--ns-color-neutral-900);
            margin: 0;
            padding: 0;

            &:first-child {
                margin-left: 8px;
            }

            .mat-mdc-chip-remove {
                @include mixins.ns-mat-icon-size(var(--ns-font-size-icon--small));
                color: var(--ns-color-neutral-900);
                opacity: 0.8;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    // rewrite select arrow
    .mat-mdc-select-arrow-wrapper {
        height: var(--ns-font-size-icon--small);
        width: var(--ns-font-size-icon--small);

        > .mat-mdc-select-arrow {
            background-color: var(--ns-color-neutral-60);
            height: 100%;
            mask: url('#{$assets-icons-path}/ns-arrow-chevron-down.svg');
            mask-repeat: no-repeat;
            mask-size: 100%;
            padding: 0;
            width: 100%;

            > svg {
                display: none;
            }
        }
    }
}

$control-height--small: 40px;


.ns-mat-form-field--small {
    mat-form-field.mat-mdc-form-field {

        --mat-form-field-container-height: 40px;

        .mdc-evolution-chip-set {
            .mdc-evolution-chip {
                &:first-child {
                    margin-left: 0;
                }
            }
        }

        .mat-mdc-text-field-wrapper.mdc-text-field--filled {
            .mat-mdc-form-field-infix {
                min-height: $control-height--small - 2;
                padding-bottom: 8px - 1px; // border compensation
                padding-top: 8px - 1px; // border compensation
            }

            .mat-mdc-form-field-flex .mat-mdc-floating-label {
                top: 9px;
                transform: none;

                &.mdc-floating-label--float-above {
                    top: -50%;
                }
            }

            &:not(.mdc-text-field--disabled).mdc-text-field--focused {
                .mat-mdc-form-field-flex .mat-mdc-floating-label {
                    top: -50%;
                }
            }

            .mdc-floating-label--float-above {
                top: -50%;
                transform: translateY(-106%) scale(0.75);
            }

        }

        // INPUT SUFFIX/PREFIX
        .mat-mdc-form-field-icon-prefix > ns-icon,
        .mat-mdc-form-field-icon-suffix > ns-icon,
        .mat-mdc-form-field-icon-prefix > mat-icon,
        .mat-mdc-form-field-icon-suffix > mat-icon {
            box-sizing: content-box;
            padding: 7px 8px; // compensate container borders
        }

        .mat-mdc-form-field-icon-suffix > mat-datepicker-toggle {
            padding: 0;

            .mat-mdc-button-base.mat-mdc-icon-button {
                height: $control-height--small - 2;
                padding: 7px 8px; // compensate container borders
            }
        }

        // SELECT
        &.mat-form-field-appearance-fill .mat-mdc-select-arrow-wrapper {
            transform: translateY(0);
        }

        &.mdc-text-field--invalid {
            .mdc-text-field__input {
                color: $value-color--error;
            }
        }
    }

    .mat-mdc-form-field-hint-wrapper,
    .mat-mdc-form-field-error-wrapper {
        padding-inline: 8px;
    }
}

.ns-form-field-group {
    align-items: center;
    border: 1px solid $border-color--normal;
    border-radius: $container-border-radius;
    display: flex;

    &--focused {
        border-color: $border-color--focus;
    }

    &--error {
        border-color: $border-color--error;
    }

    &:hover:not(&--focused) {
        border-color: $border-color--hover;
    }

    .mat-mdc-text-field-wrapper.mdc-text-field--filled {
        border: 0;
    }

}

.cdk-overlay-pane:not(.mat-mdc-select-panel-above) .mdc-menu-surface.mat-mdc-select-panel {
    border-radius: 8px;
}

.mat-option-desc {
    @include mixins.ns-font-label();
    color: var(--ns-color-neutral-60);
}

.mat-internal-form-field > label.mdc-label {
    padding-left: 12px;
}
