@use '@angular/material' as mat;



:root {
    @include mat.datepicker-overrides((
        calendar-container-shape: 8px,
        calendar-container-elevation-shadow: var(--ns-shadow-hover),
        calendar-date-preview-state-outline-color: var(--ns-color-neutral-40),
        calendar-text-size: 12px,
        calendar-date-text-color:  var(--ns-color-neutral-900),
    ));
}

.mat-datepicker-content {
    padding: 16px 16px 0;
}
