@use 'mixins';

.mat-mdc-tab-nav-bar {
    // text
    --mat-tab-nav-text-color: var(--ns-color-neutral-900);
    --mat-tab-nav-text-color--active: var(--ns-color-primary-300);
    // bg
    --mat-tab-nav-bg--hover: var(--ns-color-neutral-20);
    --mat-tab-nav-bg--active: var(--ns-color-primary-50);
    // icon
    --mat-tab-nav-icon-color: var(--ns-color-neutral-300);
    --mat-tab-nav-icon-color--active: var(--ns-color-primary-300);

    .mat-mdc-tab-link.mdc-tab {
        --mat-tab-header-inactive-label-text-color: var(--mat-tab-nav-text-color);
        --mat-tab-header-active-label-text-color: var(--mat-tab-nav-text-color--active);
        border-radius: 8px 8px 0 0;
        color: var(--mat-tab-nav-text-color);
        height: 40px;
        min-width: 0;
        opacity: 1;
        text-decoration: none;

        .mat-icon {
            color: var(--mat-tab-nav-icon-color);
        }

        &.mdc-tab-indicator--active.mdc-tab--active {
            color: var(--mat-tab-nav-text-color--active);

            .mdc-tab__text-label {
                color: var(--mat-tab-nav-text-color--active);
            }

            .mat-icon {
                color: var(--mat-tab-nav-icon-color--active);
            }
        }

        &:hover:not(.mdc-tab-indicator--active) {
            background-color: var(--mat-tab-nav-bg--hover);
        }

        &:not(.mdc-tab-indicator--active) {
        }

        &.mat-mdc-tab-link:hover .mdc-tab__ripple::before {
            opacity: 0;
        }

        .mat-ripple {
            border-radius: 8px 8px 0 0;
        }
    }

    .mat-mdc-tab-link-container {
        border-style: none;
    }



    &--primary {
        padding-bottom: 1rem;
        padding-top: 0.5rem;

        .mat-mdc-tab-links {
            gap: 0.5rem;
        }

        .mdc-tab-indicator--active {
            background-color: var(--mat-tab-nav-bg--active);
        }
    }
}


