@use '@angular/material' as mat;

@use 'mixins';

:root {
    @include mat.card-overrides((
        outlined-container-shape: var(--ns-border-radius--lg),
        elevated-container-shape: var(--ns-border-radius--lg),
        title-text-size: var(--ns-font-size--title-lg),
        title-text-weight: 500,
        title-text-line-height: 28px,
        subtitle-text-color: var(--ns-color-neutral-300),
        subtitle-text-size: var(--ns-font-size--body),
        subtitle-text-weight: 400,
        subtitle-text-line-height: 20px,
    ));
}

mat-card-header.mat-mdc-card-header {
    align-items: center;
    min-height: 48px;
}

mat-card-actions.mat-mdc-card-actions {
    padding: 0 1rem 1rem;
}



