@use 'mixins';

.mat-calendar {
    --mat-datepicker-calendar-header-text-color: var(--ns-color-neutral-60);
    --mat-datepicker-calendar-date-selected-state-background-color: var(--ns-color-primary-300);
    --mat-datepicker-toggle-active-state-icon-color: var(--ns-color-primary-300);
    --mat-datepicker-calendar-date-selected-disabled-state-background-color: var(--ns-color-primary-400);
    --mat-datepicker-calendar-date-focus-state-background-color: var(--ns-color-primary-50);
    --mat-datepicker-calendar-date-hover-state-background-color: var(--ns-color-primary-50);
    --mat-datepicker-calendar-date-in-range-state-background-color: var(--ns-color-primary-50);
    --mat-datepicker-calendar-header-divider-color: var(--ns-color-neutral-40);
    --mat-datepicker-calendar-date-today-outline-color: var(--ns-color-neutral-40);
    --mat-datepicker-calendar-date-text-color: var(--ns-color-neutral-900);
    --mat-datepicker-calendar-period-button-icon-color: var(--ns-color-neutral-60);
    width: 280px;

    .mat-calendar-body-cell {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .mat-calendar-body-label {
        opacity: 0;
    }

    .mat-calendar-body-label[colspan='7'] {
        display: none;
    }

    .mat-calendar-table-header th {
        @include mixins.ns-font-label();
    }

    .mat-calendar-arrow {
        vertical-align: middle !important;
    }

    .mat-calendar-header {
        padding: 0;
    }

    .mat-calendar-period-button {
        margin: 0;
        padding: 0 8px;
    }

    .mat-calendar-controls {
        margin: 0 0 16px;
    }
}
