@use 'mixins';

.mat-drawer-container {
    --mat-sidenav-container-background-color: var(--ns-color-neutral-0);
    --mat-sidenav-content-background-color: var(--ns-color-neutral-0);
    --mat-sidenav-container-text-color: var(--ns-color-text);
    --mat-sidenav-content-text-color: var(--ns-color-text);
}


