@use 'vars';
@use 'mixins';

.ns-illustration {
    $self: &;
    display: block;
    padding: 24px;
    text-align: center;

    &__inner {
    }

    &__icon {
        height: 144px;
        margin-bottom: 0.5rem;
        max-width: 100%;
    }

    &__title {
        @include mixins.ns-font-title();
        color: var(--ns-color-neutral-900);
        margin-bottom: 0.5rem;
    }

    &__message {
        @include mixins.ns-font-label();
        color: var(--ns-color-neutral-300);
    }

    &-size--small {
        #{$self}__icon {
            height: 72px;
        }

        #{$self}__title {
            @include mixins.ns-font-label();
        }

        #{$self}__message {
            @include mixins.ns-font-label-sm();
        }
    }

    &-placement--block {
        display: block;
        margin: 3rem auto;
        text-align: center;
    }

    &-placement--cover {
        align-items: center;
        background-color: var(--ns-color-neutral-0);
        display: flex;
        height: 100%;
        justify-content: center;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1000;
    }

    &-placement--coverNoBackdrop {
        @extend #{$self}-placement--cover;
        background-color: transparent;
    }

}
