<div class="row mt-3">
    <div class="col-xxl-8 offset-xxl-2">
        <div class="ns-font-body-xl text-justify">
            <p>
                Custom directives are used to style standard MatButton.
                On top of standard
                <code>mat-button, mat-stroked-button mat-flat-button</code> and <code>mat-icon-button</code> directives, there are
                <b>custom directives</b> that can be used in combination with the standard mat-button directives:
            </p>
            <ul>
                <li><code>[mat-button][nsButtonSize],</code></li>
                <li><code>[mat-button][nsButtonStyle],</code></li>
                <li><code>[mat-button][color].</code></li>
            </ul>
            <p>
                In addition, there is also custom directive <code>[nsFlatButton], [nsStrokedButton]</code>
                that can be used instead of generic <code>[nsButtonStyle]</code> to defined the particular style:
            </p>
            <ul>
                <li><code>[mat-button][nsFlatButton]</code></li>
                <li><code>[mat-button][nsStrokedButton]</code></li>
            </ul>
        </div>
    </div>
</div>

<mat-card class="mt-5">
    <mat-card-header>
        <div mat-card-title>
            Buttons Overview
        </div>
    </mat-card-header>
    <mat-card-content class="pt-3">
        <div class="ns-bg-color-neutral-10 ns-border-radius--lg p-2 mb-3">
            <div class="d-flex gap-3 justify-content-between flex-wrap p-2 overflow-auto">
                <div>
                    <div class="ns-font-title ns-color-neutral-90 mb-2">Button Size</div>
                    <mat-button-toggle-group [(value)]="buttonSize">
                        <mat-button-toggle [value]="ButtonSize.basic">Basic</mat-button-toggle>
                        <mat-button-toggle [value]="ButtonSize.small">Small</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <div>
                    <div class="ns-font-title ns-color-neutral-90 mb-2">Button Color</div>
                    <mat-button-toggle-group [(value)]="buttonColor">
                        <mat-button-toggle [value]="null">None</mat-button-toggle>
                        <mat-button-toggle [value]="'primary'">Primary</mat-button-toggle>
                        <mat-button-toggle [value]="'accent'">Accent</mat-button-toggle>
                        <mat-button-toggle [value]="'warn'">Warn</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <div>
                    <div class="ns-font-title ns-color-neutral-90 mb-2">Disabled / Enabled</div>
                    <mat-checkbox [(ngModel)]="buttonDisabled">Disabled</mat-checkbox>
                </div>
            </div>
        </div>
        <div class="example-row">
            <div class="example-column">
                <h3>Styles</h3>
                @for (currentStyle of ButtonStyle | nsObjValues; track currentStyle; let i = $index) {
                    <div class="ns-font-title"
                         [ngStyle]="{ lineHeight: buttonSize === ButtonSize.basic ? '40px' : '24px' }">{{ currentStyle | titlecase }}
                    </div>
                }
            </div>
            <div class="example-column">
                <h3>Button</h3>
                @for (currentStyle of ButtonStyle | nsObjValues; track currentStyle; let i = $index) {
                    <button [color]="buttonColor"
                            [disabled]="buttonDisabled"
                            [nsButtonSize]="buttonSize"
                            [nsButtonStyle]="currentStyle"
                            mat-button>
                        Default
                    </button>
                }

            </div>
            <div class="example-column">
                <h3>Button (ns-icon)</h3>

                @for (currentStyle of ButtonStyle | nsObjValues; track currentStyle; let i = $index) {
                    <button [color]="buttonColor"
                            [disabled]="buttonDisabled"
                            [nsButtonSize]="buttonSize"
                            [nsButtonStyle]="currentStyle"
                            mat-button>
                        <ns-icon matButtonIcon name="ns-copy"/>
                        NS Icons
                        <ns-icon iconPositionEnd matButtonIcon nsExpandIcon/>
                    </button>
                }
            </div>
            <div class="example-column">
                <h3>Button (mat-icon)</h3>

                @for (currentStyle of ButtonStyle | nsObjValues; track currentStyle; let i = $index) {
                    <button [color]="buttonColor"
                            [disabled]="buttonDisabled"
                            [nsButtonSize]="buttonSize"
                            [nsButtonStyle]="currentStyle"
                            mat-button>
                        <mat-icon matButtonIcon>trending_up</mat-icon>
                        MAT Icons
                        <mat-icon iconPositionEnd matButtonIcon>sync</mat-icon>
                    </button>
                }

            </div>
            <div class="example-column">
                <h3>Link</h3>
                @for (currentStyle of ButtonStyle | nsObjValues; track currentStyle; let i = $index) {
                    <a [color]="buttonColor"
                       [disabled]="buttonDisabled"
                       [nsButtonSize]="buttonSize"
                       [nsButtonStyle]="currentStyle"
                       href="/"
                       mat-button
                       target="_blank">
                        <mat-icon matButtonIcon>check</mat-icon>
                        Link
                        <mat-icon iconPositionEnd matButtonIcon>check</mat-icon>
                    </a>
                }
            </div>
            <div class="example-column">
                <h3>Icon (mat-icon)</h3>
                @for (currentStyle of ButtonStyle | nsObjValues; track currentStyle; let i = $index) {
                    <button [color]="buttonColor" [disabled]="buttonDisabled" [nsButtonSize]="buttonSize" [nsButtonStyle]="currentStyle"
                            mat-icon-button>
                        <mat-icon>check</mat-icon>
                    </button>
                }
            </div>
            <div class="example-column">
                <h3>Icon (ns-icon)</h3>
                @for (currentStyle of ButtonStyle | nsObjValues; track currentStyle; let i = $index) {
                    <button [color]="buttonColor" [disabled]="buttonDisabled" [nsButtonSize]="buttonSize" [nsButtonStyle]="currentStyle"
                            mat-icon-button>
                        <ns-icon name="ns-delete"/>
                    </button>
                }
            </div>
        </div>
    </mat-card-content>
</mat-card>

<div class="row mt-5">
    <div class="col-xxl-6">
        <markdown [data]="markdownButtonEnums"></markdown>
    </div>
    <div class="col-xxl-6">
        <markdown [data]="markdownButtonCombination"></markdown>
    </div>
</div>




