@use 'mixins';

.example-row {
    display: flex;
    gap: 16px;
    justify-content: flex-start;

    .example-column {
        align-items: flex-start;
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        gap: 8px;
    }

    h3 {
        @include mixins.ns-font-title-sm();
        color: var(--ns-color-neutral-90);
    }
}
