<ng-content select="ns-mat-dialog-content-sidebar"></ng-content>

<div class="ns-mat-dialog-content"
     [class.ns-mat-dialog-content--with-sidebar]="sidebarChildren().length > 0">

    <div class="e2e-container">

        <div class="e2e-container__body-with-scroll ns-mat-dialog-content__inner">
            <ng-content></ng-content>
        </div>

        @if (footerTemplatesRef() || footerActionsTemplatesRef()) {
            <div class="ns-mat-dialog-content__footer">

                @if (footerActionsTemplatesRef()) {
                    <div class="ns-mat-dialog-content__footer-actions">
                        <ng-container *ngTemplateOutlet="footerActionsTemplatesRef()"></ng-container>
                    </div>
                }

                @if (footerTemplatesRef()) {
                    <ng-container *ngTemplateOutlet="footerTemplatesRef()"></ng-container>
                }

            </div>
        }
    </div>

</div>
