@use 'sass:color';

:root {
    --ns-color-neutral-0: #fff;
    --ns-color-neutral-10: #fafafb;
    --ns-color-neutral-20: #f5f6f6;
    --ns-color-neutral-30: #ebeced;
    --ns-color-neutral-40: #dee1e2;
    --ns-color-neutral-50: #bfc5c8;
    --ns-color-neutral-60: #b0b6bb;
    --ns-color-neutral-90: #858f95;
    --ns-color-neutral-300: #57656e;
    --ns-color-neutral-900: #020b11;

    --ns-color-primary-50: #e6f1f8;
    --ns-color-primary-100: #2b8ac7;
    --ns-color-primary-300: #0072bc;
    --ns-color-primary-400: #005084;

    --ns-color-success-50: #ebf8e9;
    --ns-color-success-100: #5bc84b;
    --ns-color-success-300: #3abd26;
    --ns-color-success-400: #29841b;

    --ns-color-warning-50: #fef2e6;
    --ns-color-warning-100: #f39132;
    --ns-color-warning-300: #f07b08;
    --ns-color-warning-400: #a85606;

    --ns-color-error-50: #fceaea;
    --ns-color-error-100: #e95252;
    --ns-color-error-300: #e52e2e;
    --ns-color-error-400: #a02020;

    --ns-color-info-50: #e7f5ff;
    --ns-color-info-100: #71c7ff;
    --ns-color-info-300: #0a9eff;
    --ns-color-info-400: #076fb3;

    --ns-color-yellow-50: #fefaea;
    --ns-color-yellow-100: #f6e487;
    --ns-color-yellow-300: #f0d030;
    --ns-color-yellow-400: #a89222;

    --ns-color-duke-blue-50: #e6e6f5;
    --ns-color-duke-blue-100: #6b6bc4;
    --ns-color-duke-blue-300: #009;
    --ns-color-duke-blue-400: #00006b;

    --ns-color-cyan-50: #e6f7f7;
    --ns-color-cyan-100: #6bd2d2;
    --ns-color-cyan-300: #00b2b2;
    --ns-color-cyan-400: #007d7d;

    --ns-color-pink-50: #f5e6ed;
    --ns-color-pink-100: #c46b95;
    --ns-color-pink-300: #990049;
    --ns-color-pink-400: #6b0033;

    --ns-color-purple-50: #f5e6f4;
    --ns-color-purple-100: #c46bbd;
    --ns-color-purple-300: #99008d;
    --ns-color-purple-400: #6b0063;
}

