:root {
    --ns-color-neutral-0: #fff;
    --ns-color-neutral-10: #fafafb;
    --ns-color-neutral-20: #f5f6f6;
    --ns-color-neutral-30: #ebeced;
    --ns-color-neutral-40: #dee1e2;
    --ns-color-neutral-50: #bfc5c8;
    --ns-color-neutral-60: #b0b6bb;
    --ns-color-neutral-90: #858f95;
    --ns-color-neutral-300: #57656e;
    --ns-color-neutral-900: #020b11;
}


$color-neutral-0: var(--ns-color-neutral-0) !default;
$color-neutral-10: var(--ns-color-neutral-10) !default;
$color-neutral-20: var(--ns-color-neutral-20) !default;
$color-neutral-30: var(--ns-color-neutral-30) !default;
$color-neutral-40: var(--ns-color-neutral-40) !default;
$color-neutral-50: var(--ns-color-neutral-50) !default;
$color-neutral-60: var(--ns-color-neutral-60) !default;
$color-neutral-90: var(--ns-color-neutral-90) !default;
$color-neutral-300: var(--ns-color-neutral-300) !default;
$color-neutral-900: var(--ns-color-neutral-900) !default;

